@model homework3_zaynabhteit.Models.Transaction
@{
    ViewBag.Title = "Deposit";
}

<h2 style="margin-left:13%;color:#3366cc">Deposit</h2>

<br />
@using (Html.BeginForm("Deposit", "Transaction"))
{

    <fieldset style="border:1px solid #687478;padding-top:5% ;padding-bottom:5%;padding-left:10%;margin-left:10%;margin-right:10%">
        <h4 class="col-sm-2 col-form-label">Amount in $</h4>
        @Html.TextBoxFor(m => m.Amount, new { @class = "form-control" })

        <button type="submit" class="btn btn-info " style="margin-top:2%">Save</button>
    </fieldset>
}