@{
    ViewBag.Title = "Home Page";
}


<div class="row">
    <div class="col-md-6" style="margin-top:3%">
        <a href="@Url.Action("Withdrawal","Transaction")" class="btn btn-info btn-block"><span class="glyphicon glyphicon-circle-arrow-down" style="padding-right:1%"></span>Withdrawal</a>
        <br />
        <a href="@Url.Action("QuickCash","Transaction")" class="btn btn-info btn-block"><span class="glyphicon glyphicon-flash" style="padding-right:1%"></span>Quik cash 100$</a>
        <br />
        <a href="@Url.Action("BalanceInquiry","Transaction")" class="btn btn-info  btn-block"><span class="glyphicon glyphicon-question-sign" style="padding-right:1%"></span>Balance Inquery</a>
        <br />

    </div>
    <div class="col-md-6" style="margin-top:3%">
        <a href="#" class="btn btn-info btn-block"><span class="glyphicon glyphicon-print" style="padding-right:1%"></span>Print Statement</a>
        <br />
        <a href="#" class="btn btn-info btn-block"><span class="glyphicon glyphicon-transfer" style="padding-right:1%"></span>Transfer funds </a>
        <br />
        <a href="@Url.Action("Deposit","Transaction")" class="btn btn-info btn-block"><span class="glyphicon glyphicon-circle-arrow-up" style="padding-right:1%"></span>Deposit</a>
        <br />
    </div>
</div>